body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

.modal-header {
    text-align: center;
}

.modal-title img {
    display: inline-block;
    border: 1px solid #222;
    border-radius: 90px;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    border: 1px solid #222;
    margin: 0;
    padding: 10px;
}

.modal-content {
    border-radius: 10px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
    margin: 10% auto;
}

.modal-title.fs-5 {
    font-size: 1.25rem;
}

.btn-close {
    box-sizing: content-box;
    width: 0.01em;
    height: 0.01em;
    padding: .02em .02em;
    color: #000;
    border: 0;
    border-radius: .02rem;
    opacity: .5;
}

.btn-outline-light {
    font-size: 12px;
}

/* Add any additional styles you need for the modals here */

